.App {
  text-align: center;
  display: flex;
  height: 100%;
  width: 100vw;
  background-color: #07071c;
}

.left-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3.5em;
}

.right-side {
  width: 35vw;
  height: calc(90vh - 80px);
  padding-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
