.wrapper {
  /* background-image: linear-gradient(120deg, #ff42a3, #00c4ff); */
  background-image: linear-gradient(60deg, #137cd1, #985d9b);
  margin-bottom: 4em;
  width: 90%;
  height: 38.5%;
  min-height: 300px;
  border-radius: 20px;
}

.header {
  color: rgb(7, 7, 28);
  font-size: 1.75em;
  margin-bottom: -3px;
}
